In [24]:
import pandas as pd
from matplotlib import pyplot as plt
%matplotlib inline

In [25]:
df = pd.read_csv("Truck_data_Labeled_random_leaders.csv")
df.head()

,years_of_experience,aerodynamics_score,technological_score,Leader,Leadership_score
0,4,45,10,1,540
1,6,29,7,0,369
2,8,34,9,0,443
3,5,50,9,1,588
4,4,19,8,0,266

In [26]:
leader = df[df.Leader==1]
leader.shape

(1579, 5)

In [27]:
NOT_Leader = df[df.Leader==0]
NOT_Leader.shape

(3421, 5)

In [28]:
X = df[['years_of_experience','aerodynamics_score','technological_score']]
X.head()

   years_of_experience  aerodynamics_score  technological_score
0                    4                  45                   10
1                    6                  29                    7
2                    8                  34                    9
3                    5                  50                    9
4                    4                  19                    8

In [29]:
Y = df.Leader
Y.head()

0    1
1    0
2    0
3    1
4    0
Name: Leader, dtype: int64

In [30]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X,Y,train_size=0.8)

In [31]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()

In [32]:
model.fit(X_train, Y_train)

LogisticRegression()

In [44]:
x_pred=model.predict(X_test)
#x_pred

In [46]:
model.predict_proba(X_test)
X_test

      years_of_experience  aerodynamics_score  technological_score
8                      16                  10                    5
4081                    9                  49                    9
832                     9                  48                   10
2100                    1                  32                   10
1658                    8                  11                    3
...                   ...                 ...                  ...
4098                    5                  48                    7
4105                   19                  24                    7
1412                   11                  49                    6
974                    19                  31                    8
2371                    9                  47                    5

[1000 rows x 3 columns]

In [35]:
model.score(X_test,Y_test)

0.908

In [47]:
test = pd.read_csv("test.csv")
test.head()

   years_of_experience  aerodynamics_score  technological_score
0                    4                  45                   10
1                    7                  30                    5
2                    5                  20                    7

In [48]:
model.predict(test)

array([1, 0, 0], dtype=int64)

In [49]:
import numpy as np
probs=model.predict_proba(test)
probs

array([[0.15244524, 0.84755476],
       [0.82268904, 0.17731096],
       [0.9675554 , 0.0324446 ]])

In [50]:
arr = []
probs_percent = probs * 100
probs_percent[0][1]
leading_probability = float('-inf')
Truck_num = 0
index = 0
for row in probs_percent:
    print(row[1])
    arr.append(row[1])

sorted(arr, reverse=True)

84.75547620034753
17.731095817587757
3.244460496545182

[84.75547620034753, 17.731095817587757, 3.244460496545182]